/*grid*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}

body {
  background-color: $color-incoming;
}

header {
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1650px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

//section general
.section {
  max-width: 1000px;
  width: 90%;
  background: $color-light;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(66, 48, 48, 0.1);
  overflow: hidden;
  padding-bottom: 40px;

  &:first-of-type {
    margin-top: 9vh;
  }

  &:last-of-type {
    margin-bottom: 5vh;
  }
}

.sub-section {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-top: 1em;
}

.sub-section-container {
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.statuses {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-left: none;
  margin: 2em 0;
  padding-bottom: 2em;

  &:last-of-type {
    border-right: none;
  }
}

.scroll-wrapper {
  display: block;
  overflow-x: auto;
  width: 100%;
  margin: auto;
}

.align-bottom{
  display: flex;
  align-items: flex-end;
}