
/*grid*/

*, *::before, *::after {
    box-sizing: border-box;
  }

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333%;
}
.col-11 {
  width: 91.667%;
}
.col-12 {
  width: 100%;
}

.container {
    max-width: 1650px;
    min-width: 1150px;
    margin: 30px auto;
    padding: 10px;
    background-color: $color-light;
}

.content-container {
  margin-left: 16.667%;
}


body{
  background-color: $color-incoming;
}

//
header {
  background: $color-light;
  height: 7vh;
  align-items: center;
  justify-content: flex-end;
}




//section general
.section{
  background: $color-light;
  width: 95%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sub-section{
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.sub-section-container{
  width: 60%;
  margin: 0 auto;
}

