/* Colors */
$color-light: #ffffff;
$color-dark: #333333;

$color-medium: #979797;
$color-medium-hover:  #f2f2f2;;

$color-disabled: #e3e3e3;
$color-error: #ff0000;

$color-link: #56819f;

$color-positive-notification-light: #96cc9b;
$color-positive-notification-dark:  #74b67a;
$color-negative-notification-light: #ec7171;
$color-negative-notification-dark: #de5252;

$color-danger: #f58220;
$color-danger-hover: #ffa200;

$color-online: #04ae00;
$color-ofline: #e3e3e3;
$color-body:  #f5f5f2;
$color-incoming: #f3f3f1;

$color-aside: #191919;
$color-aside-selected: #282828;

/* Font sizes */
$xs-font-size: 12px;
$sm-font-size: 14px;
$med-font-size: 16px;
$lg-font-size: 18px;
$xlg-font-size: 24px;


/* Fonts */
$font-family-main: 'Lato', sans-serif;


/*margin*/
$margin-lg: 10px;
$margin-sm: 5px;


