.fixed {
  display: none;
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  background-color: RGBA(40, 40, 40, 0.5);
  height: 45px;
  width: 45px;
  border-radius: 5px;
  cursor: pointer;

  i {
    display: block;
    color: $color-incoming;
    margin: auto;
    font-size: $sm-font-size;
  }
}
