.nav-header {
  background-color: $color-aside;
  color: $color-light;
  width: 100%;
  display: flex;
  position: fixed;
  border-bottom:  rgba(66, 48, 48, 0.1);
  box-shadow: 0 0 10px rgba(66, 48, 48, 0.1);
}

.navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0;

  .drop-down-trigger {
    color: $color-incoming;
  }

  a {
    color: $color-incoming;
    width: 100%;
    height: 100%;
    display: block;
    padding: 1em ;
  }

  li {
    font-size: $sm-font-size;
    list-style: none;
    cursor: pointer;
    border-left: 5px solid transparent;

    &:hover {
      background-color: $color-aside-selected;
      border-left: 5px solid $color-danger;
    }
  }
}

//navigation vertical
.navigation-vertical {
  padding: 0;
  margin: auto;

  li {
    list-style: none;
    font-size: $xs-font-size;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;

    &:hover {
      background: $color-incoming;
    }
  }
}

//header
.header-item {
  border-left: solid 1px rgba(192, 192, 192, 0.1);
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 0 1.2em;
  color: $color-medium;
  font-size: $md-font-size;

  &:hover {
    cursor: pointer;
  }
}

//manager
.manager {
  border-top: solid 1px rgba(192, 192, 192, 0.1);
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    color: $color-light;

    img,
    a {
      display: block;
      padding-left: 1em;
    }
  }
}
